<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Shipmapper</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    table,
    tr,
    td {
      border-collapse: collapse;
      border: 1px solid black;
      font-family: monospace;


    }

    td.value-column {
      width: 7em;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      border: none;
    }

    table {
      margin: 0.5em;
    }

    #ship-tables-container {
      display: flex;
      flex-direction: row;
    }
  </style>
</head>

<body>
  <div id="ship-tables-container"></div>
  <div id="db-hd-usage-chart" style="width: 400px; height: 120px;"></div>
  <script>
    var ships = {};
    var types = ["passenger", "cargo", "reserved", "tanker", "tug", "tow", "search", "speed", "pleasure", "law", "fishing", "pilot", "anti-pollution"];
    //var socket = io('http://localhost:1337');
    var socket = io();
    socket.on('ship_data', function (data) {
      if ((data != null) && (data.mmsi != undefined)) {
        if (!(data.mmsi in ships)) {
          //ships[data.mmsi] = new RichMarker(markerOptions);
        }

        let table = document.querySelector(`.messagetype-${data.type}`);
        if (!table) {
          table = document.createElement('table');
          table.classList.add(`messagetype-${data.type}`);
          table.classList.add(`message-table`);
          table.setAttribute('data-message-type', data.type)
          let inserted = false;
          for (t of document.querySelectorAll('.message-table')) {
            if (parseInt(t.getAttribute('data-message-type')) > data.type) {
              document.querySelector('#ship-tables-container').insertBefore(table, t);
              inserted = true;
              break;
            }
          }
          if (!inserted) {
            document.querySelector('#ship-tables-container').appendChild(table);
          }
        }
        table.innerHTML = '';
        for (field in data) {
          let row = document.createElement('tr');
          let name = document.createElement('td');
          name.innerHTML = field;
          let value = document.createElement('td');
          value.classList.add('value-column');
          value.innerHTML = data[field];
          row.appendChild(name);
          row.appendChild(value);
          table.appendChild(row);
        }
      }
    });
  </script>

  <script>

    google.charts.load('current', { 'packages': ['gauge'] });
    google.charts.setOnLoadCallback(drawChart);
    var hdUsageChart;
    var hdUsageData;
    var hdUsageOptions;

    async function getStats() {
      let res = await fetch('stats');
      let stats = await res.json(res);

      hdUsageData.setValue(0, 1, stats.storageSize / stats.fsTotalSize * 100);
      hdUsageChart.draw(hdUsageData, hdUsageOptions);
      console.log(stats);
    }

    function drawChart() {

      hdUsageData = google.visualization.arrayToDataTable([
        ['Label', 'Value'],
        ['HD Usage', 50]
      ]);

      hdUsageOptions = {
        width: 400, height: 120,
        redFrom: 90, redTo: 100,
        yellowFrom: 75, yellowTo: 90,
        minorTicks: 5
      };

      hdUsageChart = new google.visualization.Gauge(document.getElementById('db-hd-usage-chart'));
      hdUsageChart.draw(hdUsageData, hdUsageOptions);
      getStats();
      setInterval(getStats, 3000);
    } 

    

    

  </script>
</body>
</html>